# 📊 Manipulation et analyse des données
pandas
numpy
openpyxl    # nécessaire pour Excel

# 🌐 Requêtes API
requests

# 🗄️ Bases de données SQL / NoSQL
sqlalchemy
psycopg2-binary  # PostgreSQL
pymysql           # MySQL / MariaDB
pymongo           # MongoDB
pyspark
minio
jupyter
marimo

# 🔧 Utilitaires
python-dotenv   # gérer facilement variables d'environnement